name: Build and Push Docker Images

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push backend
      run: |
        docker build -t kamla8106/backend:latest ./backend
        docker push kamla8106/backend:latest

    - name: Build and push frontend
      run: |
        docker build -t kamla8106/frontend:latest ./frontend
        docker push kamla8106/frontend:latest
